/* 
** Theme: File Css Header WebSite;
** Author: Abdallah Mohamed;
** Version: 1.0.0;
*/

/* Header */
.main-header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: background-color .1s ease, box-shido .2s ease-in;
}

.main-header.back-color {
  min-height: 70px;
  z-index: 2;
  background-color: #33a4d7;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 5%);
}

.main-header .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  transition: min-height .2s ease-out;
}

.main-header.back-color .content-header {
  min-height: 70px;
}

#logo {
  max-width: 110px;
  height: auto;
  display: block;
  text-decoration: none;
}

#logo img {
  display: block;
  width: 100%;
  height: auto;
}

#logo h1 {
  font-size: 40px;
  color: #ddeafb;
  text-transform: uppercase;
}

#logo h1 span {
  font-weight: 800;
  color: #345185;
  background: #fff;
  line-height: 35px;
  display: inline-block;
  padding: 0 2px;
  font-family: cursive;
  border-radius: 5px;
}

.hamburger-box {
  width: 30px;
  height: 15px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.hamburger-box .hamburger-inner, 
.hamburger-box .hamburger-inner:before, 
.hamburger-box .hamburger-inner:after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: rgb(221 234 251);
}

.hamburger-box .hamburger-inner {
  top: 2px;
  transition: top .2s ease, background-color .1s ease-in-out;
}

.hamburger-box .hamburger-inner:before {
  top: 7px;
  transition: top .2s ease, transform .3s ease;
}

.hamburger-box .hamburger-inner:after {
  top: 15px;
  transition: top .2s ease, transform .3s ease;
}

.hamburger-box.active .hamburger-inner {
  top: 10px;
  background-color: transparent;
}

.hamburger-box.active .hamburger-inner:before {
  top: 2px;
  transform: rotate(45deg);
}

.hamburger-box.active .hamburger-inner:after {
  top: 2px;
  transform: rotate(-45deg);
}

/* Navigation */
.navigation .un-list .nav-item {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.navigation .un-list .nav-item .nav-item-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.navigation .un-list .nav-item .nav-item-link:hover {
  color: #3de6a3;
}

.navigation .un-list .nav-item .drop-down {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transform: scale(.8);
  transition: all .3s ease;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.navigation .un-list .nav-item:hover .drop-down {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.navigation .un-list .nav-item:last-of-type .drop-down {
  right: 0;
  left: auto;
}

.navigation .un-list .nav-item .drop-down .down-item {
  display: block;
}

.navigation .un-list .nav-item .drop-down .down-item:first-of-type {
  margin-top: 0;
}

.navigation .un-list .nav-item .drop-down .down-item .down-item-link {
  display: block;
  text-decoration: none;
  color: #838c96;
  padding: 5px 15px;
}

.navigation .un-list .nav-item .drop-down .down-item .down-item-link:hover {
  color: #fff;
  background-color: #009688;
}

@media (max-width: 690px) {
  .body-over-hidden.is-hidden {
    overflow: hidden;
  }

  .explore-plans {
    min-height: 100vh;
    padding: 9vh 0;
  }

  .hamburger-box {
    opacity: 1;
    visibility: visible;
  }

  .navigation {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    padding: 20px;
    width: 100%;
    top: 70px;
    background-color: #345185;
    height: 100%;
  }

  .navigation .un-list .nav-item {
    display: block;
    margin: 10px 0;
    font-size: 21px;
    text-align: center;
  }

  .navigation.show {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  
  .navigation .un-list .nav-item:last-of-type .drop-down {
    right: auto;
    left: auto;
  }
  
  .navigation .un-list .nav-item .drop-down {
    top: 33px;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
  }
}
/* End Header */