/* 
** Theme: Main File Css;
** Author: Abdallah Mohamed;
** Version: 1.0.0;
*/

/* Import File Css */
@import 'main_header.css';
@import 'footer.css';
@import 'main_body.css';
/* End Import File Css */

/* Fonts Family google import Tajawal */
@font-face {
  font-family: Tajawal;
  src: url('../fonts/Tajawal/Tajawal-Black.ttf');
  src: url('../fonts/Tajawal/Tajawal-Bold.ttf');
  src: url('../fonts/Tajawal/Tajawal-Light.ttf');
  src: url('../fonts/Tajawal/Tajawal-Medium.ttf');
}
/* End font Google */

/* Global Class and Id */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tajawal, sans-serif;
}

body {
  background-color: #fff;
}

.container-page {
  max-width: 95%;
  margin: 0 auto;
}
/* End Global Class and Id */