<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="Akam Comapny Web Site Git Man Food Hello.">
    <meta name="keywords" content="Web Design, Digital Marketing, SEO, Management">
    <title>Akam | Page</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="../static/images/icons/logo.svg" type="image/x-icon">
    <!-- Style File Css -->
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body class="body-over-hidden body-home">
    <header id="main-header" class="main-header">
      <div class="container-page content-header">
        <!-- Logo -->
        <a href="" id="logo">
          <img src="../static/images/icons/storybook.svg" alt="Logo">
          <!-- <h1><span>A</span>kam</h1> -->
        </a>
        <!-- Icon Hamburger -->
        <div id="hamburger-box" class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
        <!-- Navigation -->
        <nav id="navigation" class="navigation">
          <ul class="un-list">
            <li class="nav-item"><a href="#" class="nav-item-link">Marketing</a></li>
            <li class="nav-item"><a href="#" class="nav-item-link">SEO</a></li>
            <li class="nav-item"><a href="#" class="nav-item-link">Web Design</a></li>
            <li class="nav-item">
              <a href="#" class="nav-item-link">More</a>
              <ul class="drop-down">
                <li class="down-item"><a href="#" class="down-item-link">Facebook</a></li>
                <li class="down-item"><a href="#" class="down-item-link">instagram</a></li>
                <li class="down-item"><a href="#" class="down-item-link">Youtube</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Main Content -->
    <main class="main-content">
      <!-- Header Page -->
      <section class="header-page">
        <div class="container-page">
          <h1 class="title-page">Title Page</h1>
          <p class="description-page">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat.</p>
        </div>
      </section>
      <!-- content Page -->
      <section class="content-page">
        <div class="container-page">
          <figure>
            <img src="../static/images/icons/df.png" alt="image Post">
            <figcaption>description image page</figcaption>
          </figure>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ipsam tenetur ea molestiae nobis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur totam nobis consectetur! Sunt ullam eius facilis pariatur vero temporibus fugiat?</p>
            <h3>Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vel neque debitis necessitatibus aliquam veniam temporibus velit laborum commodi vitae a itaque quidem eligendi, odio est nostrum, quas nisi sequi nulla cupiditate incidunt ullam sint? Aperiam odit consequuntur assumenda necessitatibus.</p>
          </div>
        </div>
      </section>
      <!-- Contact Our -->
      <section class="contact-our">
        <h4>Contact Our</h4>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <a href="#" class="more-price">More!</a>
      </section>
    </main>
    <footer class="footer">
      <div class="container-page">
        <!-- Subscribe Email -->
        <div class="subscribe-email">
          <h4>Subscribe</h4>
          <form action="" method="post">
            <div>
              <input type="email" name="email" id="email" placeholder="Your Email">
              <input type="submit" value="Submit" id="submit">
            </div>
          </form>
        </div>
        <!-- Copy Right and Social Media -->
        <div class="content-bottom">
          <div class="social-media">
            <a href="#" class="social-link"><img src="../static/images/icons/social_facebook_square.svg" alt="s"></a>
            <a href="#" class="social-link"><img src="../static/images/icons/social_twitter_square.svg" alt="s"></a>
            <a href="#" class="social-link"><img src="../static/images/icons/social_youtube_square.svg" alt="s"></a>
            <a href="#" class="social-link"><img src="../static/images/icons/social_dribbble_square.svg" alt="s"></a>
          </div>
          <div class="copyright">
            <span>© 2020 All right reserved | Akam</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- File Scripts -->
    <script src="../static/js/main.js"></script>
  </body>
</html>