<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="Akam Comapny Web Site Git Man Food Hello.">
    <meta name="keywords" content="Web Design, Digital Marketing, SEO, Management">
    <title>Akam | Plan</title>
    <!-- favicon icon -->
    <link rel="shortcut icon" href="../static/images/icons/logo.svg" type="image/x-icon">
    <!-- Style File Css -->
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body class="body-over-hidden body-home">
    <header id="main-header" class="main-header">
      <div class="container-page content-header">
        <!-- Logo -->
        <a href="" id="logo">
          <img src="../static/images/icons/storybook.svg" alt="Logo">
          <!-- <h1><span>A</span>kam</h1> -->
        </a>
        <!-- Icon Hamburger -->
        <div id="hamburger-box" class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
        <!-- Navigation -->
        <nav id="navigation" class="navigation">
          <ul class="un-list">
            <li class="nav-item"><a href="#" class="nav-item-link">Marketing</a></li>
            <li class="nav-item"><a href="#" class="nav-item-link">SEO</a></li>
            <li class="nav-item"><a href="#" class="nav-item-link">Web Design</a></li>
            <li class="nav-item">
              <a href="#" class="nav-item-link">More</a>
              <ul class="drop-down">
                <li class="down-item"><a href="#" class="down-item-link">Facebook</a></li>
                <li class="down-item"><a href="#" class="down-item-link">instagram</a></li>
                <li class="down-item"><a href="#" class="down-item-link">Youtube</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Main Content -->
    <main class="main-content">
      <!-- Plan -->
      <section class="plan">
        <div class="container-page">
          <!-- Title Page -->
          <div class="title-page">
            <h1>Plan Service</h1>
          </div>
          <div class="row">
            <!-- Card Plan -->
            <div class="card-plan">
              <div class="card-head">
                <h4>Basic</h4>
                <p>$10</p>
              </div>
              <div class="card-body">
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit amet..</p></div>
                <div><span><img src="/static/images/icons/vcsconflicting.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/vcsconflicting.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/vcsconflicting.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/vcsconflicting.svg" alt="icone plan"></span><p>Lorem, ipsum dolor.</p></div>
              </div>
              <div class="card-footer">
                <a href="#">Buy</a>
              </div>
            </div>
            <!-- Card Plan -->
            <div class="card-plan">
              <div class="card-head">
                <h4>Premium</h4>
                <p>$25</p>
              </div>
              <div class="card-body">
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit amet..</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/vcsconflicting.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/vcsconflicting.svg" alt="icone plan"></span><p>Lorem, ipsum dolor.</p></div>
              </div>
              <div class="card-footer">
                <a href="#">Buy</a>
              </div>
            </div>
            <!-- Card Plan -->
            <div class="card-plan">
              <div class="card-head">
                <h4>Enterprise</h4>
                <p>$40</p>
              </div>
              <div class="card-body">
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit amet..</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem ipsum dolor sit.</p></div>
                <div><span><img src="/static/images/icons/emblemdefault.svg" alt="icone plan"></span><p>Lorem, ipsum dolor.</p></div>
              </div>
              <div class="card-footer">
                <a href="#">Buy</a>
              </div>
            </div>                     
          </div>
          <!-- Form Payment -->
          <form action="/" method="post" class="form-pyment">
            <!-- Form Header -->
            <div class="form-header">
              <h3>By Plan Card</h3>
            </div>
            <!-- Form Body -->
            <div class="form-body">
              <!-- Card Number -->
              <input type="text" name="numcard" id="num-card" placeholder="Card Number" required>
              <!-- Date Field -->
              <div class="date-field">
                <div class="month">
                  <select name="month" id="month">
                    <option value="january">January</option>
                    <option value="february">February</option>
                    <option value="march">March</option>
                    <option value="april">April</option>
                    <option value="may">May</option>
                    <option value="june">June</option>
                    <option value="july">July</option>
                    <option value="august">August</option>
                    <option value="september">September</option>
                    <option value="october">October</option>
                    <option value="november">November</option>
                    <option value="december">December</option>
                  </select>
                </div>
                <div class="year">
                  <select name="Year" id="year">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                  </select>
                </div>
              </div>
              <!-- Card Verification Field -->
              <div class="card-verification-field">
                <div class="input-cvv">
                  <input type="text" name="cvv" id="cvv" placeholder="Cvv" required>
                </div>
                <div class="cvv-details">
                  <p>going to use Roboto for this tuto 3 or 4</p>
                </div>
              </div>
              <button type="submit" class="btn-proceed">Proceed</button>
              <button type="submit" class="btn-paypal">Paypal</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container-page">
        <!-- Subscribe Email -->
        <div class="subscribe-email">
          <h4>Subscribe</h4>
          <form action="" method="post">
            <div>
              <input type="email" name="email" id="email" placeholder="Your Email">
              <input type="submit" value="Submit" id="submit">
            </div>
          </form>
        </div>
        <!-- Copy Right and Social Media -->
        <div class="content-bottom">
          <div class="social-media">
            <a href="#" class="social-link"><img src="../static/images/icons/social_facebook_square.svg" alt="s"></a>
            <a href="#" class="social-link"><img src="../static/images/icons/social_twitter_square.svg" alt="s"></a>
            <a href="#" class="social-link"><img src="../static/images/icons/social_youtube_square.svg" alt="s"></a>
            <a href="#" class="social-link"><img src="../static/images/icons/social_dribbble_square.svg" alt="s"></a>
          </div>
          <div class="copyright">
            <span>© 2020 All right reserved | Akam</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- File Scripts -->
    <script src="../static/js/main.js"></script>
  </body>
</html>